In [40]:
import numpy as np
import pandas as pd
from datetime import datetime as dt

In [56]:
# df = pd.read_csv('bike_stats/trip.csv')
df_trip = pd.read_csv('bike_stats/trip.csv', error_bad_lines=False)
df_trip.head(1)

b'Skipping line 50794: expected 12 fields, saw 20\n'

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0

In [55]:
df_weather = pd.read_csv('bike_stats/weather.csv')
df_weather.head(1)

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.0,Rain

In [54]:
df_station = pd.read_csv('bike_stats/station.csv')
df_station.head(1)

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN

## 1. What is the average trip duration for a borrowed bicycle?

In [50]:
duration = df_trip['tripduration'].mean()
duration_in_minutes = duration // 60
duration_in_minutes

19.0

## 2. What’s the most common age of a bicycle-sharer?

In [123]:
by = df_trip['birthyear'].mean()
# age = 2020 - by
today = dt.today() 
age = today.year - by
int(age)

40

## 3. Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [125]:
df_weather.head(10)
# mean per month: group month and prec, by using groupby the mean will be calculated for each month
# Convert to time
df_weather['Date'] = pd.to_datetime(df_weather['Date'])

# Add a coloumn for month using datetime.month
df_weather['Month'] = df_weather['Date'].dt.month
average_precipitation_per_month = (df_weather[['Month','Precipitation_In']]).groupby(df_weather.Month).mean()

print('The average precipitation per month:')
print(average_precipitation_per_month)

# median precipitation: after calculating the mean for each month, calculate the median for all 12 months togther
median_precipitation = ((df_weather.groupby('Month')['Precipitation_In'].mean()).median())
print('\n The median precipitation:')
print(median_precipitation)

The average precipitation per month:
       Month  Precipitation_In
Month
1          1          0.143548
2          2          0.168421
3          3          0.156935
4          4          0.051333
5          5          0.012419
6          6          0.030500
7          7          0.012097
8          8          0.018226
9          9          0.041000
10        10          0.189000
11        11          0.187833
12        12          0.236290

 The median precipitation:
0.09744086021505376

## 4. What’s the average number of bikes at a given bike station?

In [132]:
# This is for all stations
avg_bike_num = df_station.current_dockcount.mean()
avg_bike_num = int(avg_bike_num)
avg_bike_num

16

## 5. When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [114]:
#

## 7. Come up with 3 more questions that can be answered with this data set.¶

#### What is the highest value current_dockcount?¶

In [137]:
highest_current_dockdown = df_station['current_dockcount'].max()
highest_current_dockdown

26

####  What is the average current_dockcount?

In [135]:
current_dockcount = df_station['current_dockcount'].mean()
current_dockcount

16.517241379310345

#### is it more likely that a bike user will be male or female?

In [127]:
gen_mode = df_trip.gender.mode()
gen_mode

0    Male
dtype: object

In [138]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(duration_in_minutes , 19.0 )
    assert_equal(int(age), 40)
    assert_equal(median_precipitation, 0.09744086021505376)
    assert_equal(int(avg_bike_num), 16)
    assert_equal(highest_current_dockdown,26 )
    assert_equal(current_dockcount,16.517241379310345 )


    print("Success!!!")

test()

Success!!!